<nav class="top-right">
	<a class="disc l1" routerLink="/"  routerLinkActive="active">
		<div [translate]="'nav.home'">Home</div>
	</a> <a class="disc l2" routerLink="/services">
		<div [translate]="'nav.services'">Services</div>
	</a> <a class="disc l3" routerLink="/about">
		<div [translate]="'nav.about'">About us</div>
	</a> <a class="disc l4" routerLink="/contact">
		<div [translate]="'nav.contact'">Contact us</div>
	</a> 
	<a class="disc l5 toggle" (click)="openMenu(active)"><i class="fa fa-window-close" aria-hidden="true"></i></a>
</nav>
